#pager ul.pages {
display:block;
border:none;
text-transform:uppercase;
font-size:12px;
margin:10px 0 50px;
padding:0;
}

#pager ul.pages li {
list-style:none;
float:left;
    border: 1px solid #f0f3f4;
    color: white;
    background-color: #22beef;
text-decoration:none;
margin:5px 5px 0 0;
padding:5px;
}

#pager ul.pages li:hover {
border:1px solid #C3E6E7;
}

#pager ul.pages li.pgEmpty {
    border: 1px solid #f0f3f4;
    color: white;
    background-color: #22beef;
}

#pager ul.pages li.pgCurrent {
    border: 1px solid #f0f3f4;
    color: white;
    background-color: #bf2323;
font-weight:700;
}